body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a; 
  color: #f5c518; 
}

.welcome_page {
  background: #2c2c2c; 
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 400px;
  text-align: center;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  background-color: #000;
  color: #f5c518;
  font-size: 36px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.welcome_page h1 {
  margin-bottom: 5px;
  color: #f5c518;
  font-size: 30px;
  font-weight: bold;
}

.welcome_page p {
  margin-bottom: 15px;
  color: #ddd;
  font-size: 16px;
}

.welcome_page input[type="text"],
.welcome_page input[type="password"] {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #333; 
  border-radius: 8px;
  font-size: 15px;
  background-color: #1a1a1a; 
  color: #f5c518;
}

.welcome_page button {
  font-size: 18px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: #000; 
  color: #f5c518;   
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.welcome_page button:hover {
  background-color: #f1c40f; 
  transform: scale(1.02);
}

.welcome_page button:active {
  background-color: #e0b700; 
  transform: scale(0.98);
}

.welcome_page a {
  color: #f5c518; 
  text-decoration: none;
  font-size: 14px;
}

.welcome_page a:hover {
  text-decoration: underline;
}

.social-media-links {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.social-media-links a {
  display: inline-block;
}

.social-media-links img {
  width: 30px;
  height: 30px;
}

.credits {
  margin-top: 20px;
}

.credits p {
  margin: 5px;
  color: #ddd;
  font-size: 14px;
}

.credits a {
  color: #f5c518;
  text-decoration: none;
}

.credits a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .welcome_page {
    width: 90%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a; 
  color: #f5c518; 
}

.welcome_page{
  display: grid;
  width: 300px;
}

#loginBtn,
#registerBtn,
#guestsBtn{
  width: 100%
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.checkbox-container input[type="checkbox"] + span {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked + span {
  background-color: #f5c518; 
  border-color: #f5c518;
}

.checkbox-container input[type="checkbox"]:checked + span::after {
  content: '';
  position: absolute;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox-container label {
  margin-left: 8px;
  font-size: 14px; 
  color: #ffffff; 
}


#themeToggle{
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  background-color: #f5f5f5;
  color: #1a1a1a;
  border-radius: 4px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 20px;}


.light-mode #themeToggle {
  background-color: #000; 
  color: #f5c518; 
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #1a1a1a;
}

.header {
  display: flex ;
  gap: space-between;
  background-color: #000; 
  color: #f5c518; 
  padding: 10px 20px;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  margin: 0;
}
.light-mode .header {
  background-color: #f5f5f5;
  color: #1a1a1a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main {
  display: grid;
  grid-template-columns: 1fr 6fr;
  padding: 20px;
  gap: 10px;
}

.category_area
{
}

.myListsDiv {
  margin-top: 40px;
}

.userinfoDiv{
  margin-top: 50px;

}

.moviesheaderDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

.mainScreenDiv {
  display: grid;
}

.mainScreenHeadingDiv {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
  background-color: #000; 
  color: #f5c518; 
  padding: 10px 20px;
  position: sticky;
  top: 10px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.light-mode .mainScreenHeadingDiv {
  background-color: #f5f5f5;
  color: #1a1a1a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.searchDiv_area {
  margin-bottom: 20px;
}

#searchInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #333; 
  border-radius: 4px;
}

#searchBtn {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  background-color: #000; 
  color: #f5c518; 
  border-radius: 4px;
  cursor: pointer;
}

#searchBtn:hover {
  background-color: #333; 
}

.light-mode #searchBtn {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: #1a1a1a;
}
.light-mode #searchBtn:hover {
  background-color: #9e9c9c; 
}


.moviesDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: space-between;
  row-gap: 30px;
}

.movie_area {
  background: #000; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 300px;
  text-align: center;
  color: #f5c518; 
}

.light-mode .movie_area {
  background: #f5f5f5;
  color: #1a1a1a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie_area img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
}

.movie_area h2 {
  font-size: 18px;
  margin: 10px 0;
}

.movie_area p {
  font-size: 14px;
  margin: 5px 0;
  text-align: left;
  color: #ddd; 
}

.light-mode .movie_area p{
  color: #000;
}

.movieinfo_area {
  padding: 5px;
  height: 310px;
}



button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}


.light-mode button {
  background-color: #f5f5f5;
  color: #1a1a1a;
}

button.mainPageBtn,
button.actionBtn,
button.comedyBtn,
button.horrorBtn,
button.dramaBtn,
button.animeBtn,
button.favoritesBtn,
button#watchlistBtn1
{
  width: 150px;
  background-color: #000; 
  color: #f5c518; 
}

.userNameDisplay {
  font-size: 20px;
  padding: 8px 0;
  max-width: 150px;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #f5c518;
  background-color: #000; 
  text-align: center;

}

.light-mode .userNameDisplay{
  width: 150px;
  background-color: #f5f5f5;
  color: #1a1a1a;
}

button.logoutBtn{
    width: 150px;
  background-color: #000; 
  color: #f5c518; 
}

.light-mode .logoutBtn{
  width: 150px;
  background-color: #f5f5f5;
  color: #1a1a1a;
}

.light-mode button.mainPageBtn,
.light-mode button.actionBtn,
.light-mode button.comedyBtn,
.light-mode button.horrorBtn,
.light-mode button.dramaBtn,
.light-mode button.animeBtn,
.light-mode button.favoritesBtn,
.light-mode button#watchlistBtn1
{
  background-color: #f5f5f5;
  color: #1a1a1a;
}


button:hover {
  background-color: #f5c518; 
  color: #000; 
}

.light-mode button:hover {
  background-color: #f5c518; 
  color: #000; 
}

button#watchlistBtn1:hover{
  background-color: #f1c40f;
  color: #000; 

}

button:hover {
  background-color: #f1c40f;
}
button.favBtn {
  width: 100%;
  background-color: #f5c518; 
  color: #000; 
}

button.favBtn:hover {
  background-color: #f39c12; /
}

button.watchlistBtn {
  width: 100%;
  background-color: #3498db; 
  color: #000; 
}

button.watchlistBtn:hover {
  background-color: #2980b9; 
}

button.detailsBtn {
  width: 100%;
  background-color: #333; 
  color: #f5c518; 
}

button.detailsBtn:hover {
  background-color: #555; 
}

.movie_detail_area {
  background: #000; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  width: 230%;
  color: #f5c518; 
}


.light-mode .movie_detail_area {
  background: #f5f5f5;
  color: #1a1a1a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie_detail_area img {
  width: 50%;
  height: 300px;
  border-radius: 4px;
}

.movie_detail_area h2 {
  font-size: 18px;
  margin: 10px 0;
}

.movie_detail_area p {
  padding: 10px;
  font-size: 14px;
  margin: 5px 0;
  text-align: left;
  color: #ddd; 
}

.light-mode .movie_detail_area p{
  color: #000;
}

.movie_detail_area {
  padding: 5px;
  height: 850px;
}

button#favBtn{
  width: 250px;

  margin-top: 10px;
}

button#watchlistBtn{
  width: 250px;
  margin-top: 10px;
}

button#backBtn {
  width: 230px;
  background-color: #e74c3c;
  color: #fff;
}

button#backBtn:hover {
  background-color: #c0392b;
}

select {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  color: #000; 
  background-color: #f5c518; 
  border: 1px solid #333;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #007bff;
}

select option {
  padding: 10px;
  background-color: #f5c518; 
  color: #000;
  font-size: 16px;
}


.light-mode select {
  background-color: #ffffff;
  color: #1a1a1a;
  border: 1px solid #ccc;
}


#filter,
#releaseYearFilter,
#ratingFilter,
#durationFilter {
  margin-bottom: 15px;
  background-color: #f5c518; 
}

.trailer-link {
  font-size: 25px;
  color: #f5c518; 
  text-decoration: none;
  font-weight: 600;
  border-bottom: 2px solid #f5c518; 
  transition: color 0.3s, border-color 0.3s;
}

.trailer-link:hover {
  color: #f39c12; 
  border-bottom-color: #f39c12; 
}


.light-mode .trailer-link {
  color: #f5c518; 
  border-bottom: 2px solid #f5c518; 
}

.light-mode .trailer-link:hover {
  color: #f39c12; 
  border-bottom-color: #f39c12; 
}

.checked {
  color: #f5c518; 
}

.rate {
  width: 100%;
  color: #f5c518; 
}

button.star{
  margin-top: 10px;
  background-color: #444444;
}

button.star:hover {
  background-color: #f5c518; 
  color: #000; 
}

.light-mode .checked,
.light-mode .rate {
  color: #ffa500;
}